.App {
  text-align: center;
  background-color: rgb(67, 55, 82);
  font-size: medium;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh;
  font-size: xx-large;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  animation: spin infinite 5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.one {
  fill: #ff8c00;
}
.two {
  fill: #06a7d8;
}
.three {
  fill: #4caf50;
}
.four {
  fill: #e32172;
}
.five {
  fill: #9453ba;
}
.six {
  fill: #ffeb3b;
}
.mood-gif {
  position: absolute;
  height: 104px;
}

.colours {
  color: white;
  margin: 5%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 20vw;
}

.emotion {
  padding-top: 5px;
  padding-right: 25px;
  flex: 50%;
  margin-bottom: 0;
  text-align: left;
}

.svg-circle {
  display: flex;
  flex: 25%;
  margin-top: -20px;
}
.circle {
  position: absolute;
}
.confetti {
  display: none;
  width: 300;
  height: 300;
}
.change#fire {
  display: block;
}

@media only screen and (min-width: 900px) {
  .colours {
    margin-left: 5%;
  }
  .emotion {
    padding: 25px;
    flex: 1;
    margin-bottom: 0;
    text-align: left;
  }
  .emotion:hover {
    font-size: large;
    padding: 21px;
  }
  .svg-circle {
    display: flex;
    flex: 5%;
    margin-top: 0;
  }
  .confetti {
    width: 400;
    height: 400;
  }
}
